@media only screen and (min-width: 768px){
	.desktop-image{
	width:200px;
	height:200px;
}
}
@media only screen and (max-width: 768px){
	.mobile-image{
	width:120px;

}

.mobile-button{
	font-size:10px;
}
}
.navbar-style{
	background-color: #00CC00;
	background-image: none;
	border: 0px;
	border-radius: 0px;
	margin-bottom:0px;
}
#products-my-tabs{
	background-color: black;
	background-image: none;
	border: 0px;
	border-radius: 0px;
}
#products-my-tabs>li>a{
	border-radius: 0px;
}
#products-filter-my-tabs>li>a{
	border-radius: 0px;
}
.filter-heading{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #FF3300;
	color:white;
}
.product-footer{
	margin-top:5px;
	text-align:center;
}
.product-image{
	margin:30px;
}
.product-description{
	margin-top:15px;
}
/*.add-to-cart{
	margin-top:30px;
}*/
.product-details{
	text-align: center;
	padding-top: 20px;
}
.product-details2{
	text-align: center;
	padding-top: 20px;
}